
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */