
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-emo-saint:before { content: '\e80e'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-youtube:before { content: '\f315'; } /* '' */